extends ../layouts/default

block main
  h3= title
  hr

block content
  - var action = '/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations'
  - action += visualization.isNew? '' : '/' + visualization.slug

  form(method="post", action=action, enctype="multipart/form-data")

    input(type="hidden", name="_csrf", value="#{csrf_token}")
    //input(id="__content" type="hidden", name="__content", value="#{visualization.content}")
    //input(id="__is-new" type="hidden", name="__isNew", value="#{visualization.isNew}")

    - if (!visualization.isNew)
      input(type="hidden", name="_method", value="PUT")

    label(for='title') Title
    .controls
      input#title.input-xlarge(type='text', name="title", value=visualization.title, placeholder='Enter the title')

    label(for='description') Description
    .controls
      textarea#description.span4(name="description", placeholder='Enter the Description') #{visualization.description}

    .row-fluid
      .span8
        label(for='content') Content
        .controls
          textarea#content-area(name="content", value=visualization.content) #{visualization.content}
      .span4
        label(for='legend') Legend
        .controls
          textarea#legend-area(name="legend", value=visualization.legend) #{visualization.legend}

    label(for='zoom')
      input#zoom.input(type='checkbox', name="zoom", value=visualization.zoom.toString(), checked=visualization.zoom)
      |  Zoom

    label(for='index') Index
    .controls
      input#index.input(type='number', name="index", value=visualization.index)

    button.btn.btn-primary(type='submit') Save changes
    &nbsp;
    a.btn(href='/sections/' + section.slug + '/chapters/' + chapter.slug, title="cancel") Cancel



  script.
    window.addEventListener('load', function(){
      
      // content
      var contentArea = document.getElementById('content-area');
      var contentEditor = CodeMirror.fromTextArea(contentArea, {
        mode: "text/html",
      });
      contentEditor.on("change", function (cm, obj) { contentArea.value = cm.getValue(); } )

      // legend
      var legendArea = document.getElementById('legend-area');
      var legendEditor = CodeMirror.fromTextArea(legendArea, {
        mode: "text/html",
      });
      legendEditor.on("change", function (cm, obj) { legendEditor.value = cm.getValue(); } )

    })