extends ../layouts/default

block main
  h3= section.title

block content
  .row
    .span9
      p=section.body
      .meta.muted

      h4 Chapters
      - if (chapters.length)
        - each chapter in chapters
          .chapter
            h5
              a(href='/sections/' + section.slug + '/chapters/' + chapter.slug  , title=chapter.title) #{chapter.title}

      a.btn(href='/sections/' + section.slug + '/chapters/new', title="New chapter") Add chapter

  p
    br
    form.center.form-inline.confirm(action="/sections/"+section.slug, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/sections/'+section.slug+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") Delete
