extends ../layouts/default

block main
  ul.breadcrumb
    li
      a(href="/") Home 
      span.divider /
    li
      a(href="/sections/") Sections 
      span.divider /
    li
      a(href="/sections/" + section.slug) #{section.title} 
      span.divider /
    li.active= chapter.title

  h3= chapter.title + ' '
    span(class='btn-group')
      small
        form.center.form-inline.confirm(action='/sections/' + section.slug + '/chapters/' + chapter.slug, method="post", id='ed')
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        a.btn.btn-mini(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/edit', title="edit") Edit
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger.btn-mini(type="submit") Delete

block content

  .row-fluid
    .span9
      .chapter-protocol
        != chapter.protocol
    .span3
      p= chapter.description
      hr
      h4 Visualizations 
        span.btn-group
          small
            a.btn.btn-success.btn-mini(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/new', title="New visualization") New
      - if (visualizations.length)
          ul.nav.nav-list
            - each visualization in visualizations
                li
                  a(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/' + visualization.slug  , title=visualization.title) #{visualization.title}

      ul.pager
        - if (prevVisualization)
          li.previous
            a(href='/sections/' + section.slug + '/chapters/' + prevChapter.slug + '/visualizations/' + prevVisualization.slug  , title=prevVisualization.title) ←
        - else 
          li.previous.disabled
            a(href='#') ←
        - if (visualizations.length)
          li.next
            a(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/' + visualizations[0].slug  , title=visualizations[0].title) →
        - else 
          li.next.disabled
            a(href='#') →