extends ../layouts/default

block main
  h3
    a(href="/sections/" + section.slug) #{section.title}
    span /
    span= chapter.title
  hr

block content

  .row-fluid
    .span9
      .chapter-protocol
        != chapter.protocol
    .span3
      - if (prevVisualization)
        a(href='/sections/' + section.slug + '/chapters/' + prevChapter.slug + '/visualizations/' + prevVisualization.slug  , title=prevVisualization.title) Pre
      - if (visualizations.length)
        a(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/' + visualizations[0].slug  , title=visualizations[0].title) Next
      p= chapter.description
      hr
      h4 Visualizations
      - if (visualizations.length)
        ul.unstyled
          - each visualization in visualizations
              li
                span= visualization.index
                span &nbsp;
                a(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/' + visualization.slug  , title=visualization.title) #{visualization.title}

      a.btn.btn-success.btn-small(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/visualizations/new', title="New visualization") New

  p
    br
    form.center.form-inline.confirm(action='/sections/' + section.slug + '/chapters/' + chapter.slug, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/sections/' + section.slug + '/chapters/' + chapter.slug + '/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") Delete
